/*Sprite Imagenes*/
/*<div class="sprite-odebrecht"></div>
<div class="sprite-alejandra-aramayo"></div>
<div class="sprite-corea-del-norte"></div>
<div class="sprite-anuncio"></div>
<div class="sprite-logo"></div>
<div class="sprite-alcalde-de-chilca"></div>
<div class="sprite-partido"></div>
<div class="sprite-senora"></div>

*/
/*USANDO SPRITE*/
.sprite-odebrecht, .sprite-alejandra-aramayo, .sprite-corea-del-norte, .sprite-anuncio, .sprite-logo,
.sprite-alcalde-de-chilca, .sprite-partido, .sprite-senora{
  display: inline-block;
  background: url('../img/imagenTotal.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.sprite-odebrecht {
  position: absolute;
  right: 0;
  display: inline-block;
  background-position: -5px -0px;
  width: 467px;
  height: 275px; }
.sprite-alejandra-aramayo {
  display: inline-block;
  background-position: -5px -280px;
  width: 330px;
  height: 174px; }
.sprite-corea-del-norte {
  display: inline-block;
  background-position: -5px -459px;
  width: 330px;
  height: 174px; }
.sprite-anuncio {
  display: inline-block;
  background-position: -5px -638px;
  width: 305px;
  height: 93px; }
.sprite-logo {
  display: inline-block;
  background-position: -5px -736px;
  width: 281px;
  height: 49px; }
.sprite-alcalde-de-chilca {
  position: absolute;
  right: 0;top:0;
  display: inline-block;
  background-position: -5px -790px;
  width: 180px;
  height: 200px; }
.sprite-partido { position: absolute;
  right: 0;top:0;
  display: inline-block;
  background-position: -190px -790px;
  width: 180px;
  height: 200px; }
.sprite-senora { position: absolute;
  right: 0;bottom: 0;
  display: inline-block;
  background-position: -340px -280px;
  width: 47px;
  height: 75px; }

body{
  margin:0;
}
header{
  top:0;
  position: fixed;
  width: 100%;
  background-color: #E00109;
  z-index: 1000;
}
.logos{
  position: relative;
  display: block;
  margin-bottom: 50px;
}
.sprite-logo{
  position: absolute;
  display: inline-block;
  left: 15%;
  top:10%;
}
.redesNav{
  display: block;
  position: relative;
  margin:20px 150px;
  text-align: center;
  top:15px;
}
.icon-nav{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #FF0004;
}
nav{
  background-color: #4D4D59;
  display: block;
}
.icon-nav > span{
  position: absolute;
  top:5px;
  left: 5px;
}
.buscar{
  position: absolute;
  right: 15%;
  top:30%;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;;
  color:  #FFFFFF;
  border: 2px solid white;
}
nav{
  background: #4D4D59;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
}
nav li{
  display: inline-block;
  margin:15px 5px;
}
nav li a{
  color:  #FFFFFF;
  text-decoration: none;
}
.sectionGeneral{
  display: block;
  padding: 0px 200px;
  background-color: #EBEBEB;
  margin-top: 150px;
}
.noticias{
  display: inline-block;
  position: relative;
  width: 1035px;
  background-color: #FFFFFF;
  border: 1px solid black;
}
.partLeft-noticiasImportantes{
  display: inline-block;
  width: 710px;
}
.noticeP{
  display: inline-block;
  color:white;
  background-color: #333340;
  margin:10px;
  position: relative;
}
.noticeS{
  display: inline-block;
  color:white;
  background-color: #1363A9;
  margin: 5px;
  height: 200px;
  width: 305px;
  position: relative;
}
.element1{

  height: 275px;
  width: 685px;
  position: relative;
}
.element2, .element3{
  width: 330px;
}

h1,h2{
  display: inline-block;
}
.t1{
  display: inline-block;
}
.tit1{
  width: 222px;
  height: 275px;
}
.redes-sociales{
  padding-left: 0px;
  margin: 0;
  /*
  position: absolute;*/
  left: 5px;
  bottom: 5px;
}
.redes-sociales li div{
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: #4D4D59;
  border-radius: 50%;

}
.redes-sociales li{
  display: inline-block;
}
.red1{
  left: 5px;
  bottom: 5px;
}
.sprite-odebrecht{
  display: inline-block;
}
section >.partRight{
  display: inline-block;
  width: 318px;
}
.noticiasOtros{
  display: inline-block;
}
.t2{
  display: inline-block;
  width: 110px;
  /* height: 0px; */
  padding-left: 10px;
  padding-top: 10px;
}
.t2>h1{
  margin: 0px;
}
.editorial{
  position: relative;
  width: 305px;
  height: 100px;
  margin:5px;
}
.editorial > .tituloed{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #FF0004;

}
.tema1{
  background-color: #FF0004;
  color: white;
  display:inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.tema1 > span{
  margin-left: 5px;
  position: absolute;
  left: 5px;
  bottom: 30%;
  font-size: 20px;
}
.anuncios{
  margin: 5px;
}
